.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 30%;
  color: #333;
}
